**Comenzamos a ver Metodos númericos en programación, comenzamos con el método cerrado**

In [6]:
from pylab import *
def biseccion(a,b,f,error =  0.05):
    # a, b limites inferior y superior del intervalo
    # función f(x). Resolvemos f(x) = 0
    # máximo error permitido
    i, xl, xr, xu, ea = 0, [a], [(a+b)/2], [b], [100]
    while ea[i] > error:
        if f(xl[i])*f(xr[i])<0: # Valuamos el valor i en la lista, se inicia con 0
            xl.append(xl[i])
            xu.append(xr[i])
        elif(f(xu[i])*f(xr[i])<0):
            xl.append(xr[i])
            xu.append(xu[i])
        else:
            return(xr)
        xr.append((xl[i+1]+xu[i+1])/2)
        ea.append(abs((xr[i+1]-xr[i])/xr[i+1])*100)
        i+=1
    return xl, xr, xu, ea

In [7]:
def f(x):
    return exp(-x)-x

In [10]:
xl, xr, xu, ea = biseccion(0,1,f)

In [12]:
import pandas as pd
datos = {"xL": xl, "xr": xr, "xu": xu, "error": ea}
pd.DataFrame(datos)

          xL        xr        xu       error
0   0.000000  0.500000  1.000000  100.000000
1   0.500000  0.750000  1.000000   33.333333
2   0.500000  0.625000  0.750000   20.000000
3   0.500000  0.562500  0.625000   11.111111
4   0.562500  0.593750  0.625000    5.263158
5   0.562500  0.578125  0.593750    2.702703
6   0.562500  0.570312  0.578125    1.369863
7   0.562500  0.566406  0.570312    0.689655
8   0.566406  0.568359  0.570312    0.343643
9   0.566406  0.567383  0.568359    0.172117
10  0.566406  0.566895  0.567383    0.086133
11  0.566895  0.567139  0.567383    0.043048