**Comenzamos a ver Metodos númericos en programación, comenzamos con el método cerrado**

In [25]:
from pylab import *
def biseccion(a,b,f,error=0.05):
    # a, b limites inferior y superior del intervalo
    # función f(x). Resolvemos f(x) = 0
    # máximo error permitido
    i, xl, xr, xu, ea = 0, [a], [(a+b)/2], [b], [100]
    while ea[i] > error:
        if f(xl[i])*f(xr[i])<0: # Valuamos el valor i en la lista, se inicia con 0
            xl.append(xl[i])
            xu.append(xr[i])
        elif(f(xu[i])*f(xr[i])<0):
            xl.append(xr[i])
            xu.append(xu[i])
        else:
            return(xr)
        xr.append((xl[i+1]+xu[i+1])/2)
        ea.append(abs((xr[i+1]-xr[i])/xr[i+1])*100)
        i+=1
    return xl, xr, xu, ea

In [31]:
def f(x):
    return exp(-x)-x

In [32]:
xl, xr, xu, ea = biseccion(1,4,f)

ValueError: not enough values to unpack (expected 4, got 1)

In [33]:
import pandas as pd
datos = {"xL": xl, "xr": xr, "xu": xu, "error": ea}
pd.DataFrame(datos)

          xL        xr        xu       error
0   1.000000  2.500000  4.000000  100.000000
1   1.000000  1.750000  2.500000   42.857143
2   1.750000  2.125000  2.500000   17.647059
3   1.750000  1.937500  2.125000    9.677419
4   1.937500  2.031250  2.125000    4.615385
5   2.031250  2.078125  2.125000    2.255639
6   2.078125  2.101562  2.125000    1.115242
7   2.078125  2.089844  2.101562    0.560748
8   2.089844  2.095703  2.101562    0.279590
9   2.089844  2.092773  2.095703    0.139991
10  2.092773  2.094238  2.095703    0.069946
11  2.094238  2.094971  2.095703    0.034961