#### Hoja de Trabajo No.2 
#### Métodos Numericos 1
#### José Rodrigo Oliveros González 22848

 Métodos Numéricos en Python

**Método de Bisección**

In [2]:
from pylab import *
import pandas as pd
def biseccion(a,b,f, max_iter = 100, modo_salida = 1,error =  0.05):
    # a, b limites inferior y superior del intervalo
    # función f(x). Resolvemos f(x) = 0
    # máximo error permitido
    i, xl, xr, xu, ea = 0, [a], [(a+b)/2], [b], [100]   # iteraciones, limites inferiores, puntos medios, limites superiores, error, tipo
    while ea[i] > error and i < max_iter:
        if f(xl[i])*f(xr[i])<0: # Si la raíz esta en el intervalo inferior (-)*(+) = (-)
            xl.append(xl[i])    # Mantenemos el limite inferior actual
            xu.append(xr[i])    # El nuevo límite superior es el actual punto medio.
        elif(f(xu[i])*f(xr[i])<0): # Si la raíz esta en el intervalo superior (-)*(+) = (-)
            xl.append(xr[i])    # El nuevo limite inferior es el punto medio
            xu.append(xu[i])    # Mantenemos el límite superior actual.
        else:
            return(xr)          # Posible raíz o error
        xr.append((xl[i+1]+xu[i+1])/2) # Nuevo punto medio, calculado con los nuevos xl y xu, estos pueden tener el mismo valor que el anteior en caso se copiaran.
        ea.append(abs((xr[i+1]-xr[i])/xr[i+1])*100) # Error relativo, (si ya no cambia mucho puede que estemos en la solución)
        i+=1
    if modo_salida == 1:
        return {"xL": xl, "xr": xr, "xu": xu, "error": ea}
    elif modo_salida == 2:
        return {"solucion": xr[-1], "iteraciones": i}
    elif modo_salida == 3:
        return {"solucion": xr[-1]}
    else:
        raise ValueError("modo_salida debe ser 1, 2 o 3.")
f = lambda x: x**3 - 2*x - 5

**Modo 1, bisección**

In [3]:
print("Resultado Modo 1\n")
resultado1 = biseccion(1,4,f,max_iter=100, modo_salida=1)
pd.DataFrame(resultado1)

Resultado Modo 1

          xL        xr        xu       error
0   1.000000  2.500000  4.000000  100.000000
1   1.000000  1.750000  2.500000   42.857143
2   1.750000  2.125000  2.500000   17.647059
3   1.750000  1.937500  2.125000    9.677419
4   1.937500  2.031250  2.125000    4.615385
5   2.031250  2.078125  2.125000    2.255639
6   2.078125  2.101562  2.125000    1.115242
7   2.078125  2.089844  2.101562    0.560748
8   2.089844  2.095703  2.101562    0.279590
9   2.089844  2.092773  2.095703    0.139991
10  2.092773  2.094238  2.095703    0.069946
11  2.094238  2.094971  2.095703    0.034961

**Modo 2, bisección**

In [4]:
print("Resultado Modo 2\n")
resultado2 = biseccion(1,4,f,max_iter=100, modo_salida=2)
print(f"Solución: {resultado2['solucion']:.4f}, Iteraciones: {resultado2['iteraciones']}")

Resultado Modo 2

Solución: 2.0950, Iteraciones: 11

**Modo 3, bisección**

In [5]:
print("Resultado Modo 3\n")
resultado3 = biseccion(1,4,f,max_iter=100, modo_salida=3)
print(f"Solución: {resultado3['solucion']:.4f}")

Resultado Modo 3

Solución: 2.0950

**Método de falsa posición**

In [6]:
from pylab import *
def falsa_posicion(a,b,f,max_iter = 100, modo_salida = 1, error =  0.05):
    m = (f(b)-f(a))/(b-a)
    # a, b limites inferior y superior del intervalo
    # función f(x). Resolvemos f(x) = 0
    # máximo error permitido
    xri = a - f(a)/m
    i, xl, xr, xu, ea = 0, [a], [xri], [b], [100]# iteraciones, limites inferiores, puntos medios, limites superiores, error
    while ea[i] > error and i < max_iter:
        if f(xl[i])*f(xr[i])<0:
            xl.append(xl[i])
            xu.append(xr[i])
        elif(f(xu[i])*f(xr[i])<0):
            xl.append(xr[i])
            xu.append(xu[i])
        else:
            return(xr)
        #Se redefinen las variables para acortar el rango, como ya hicimos un append hacemos uno nuevo
        m = (f(xu[i+1])-f(xl[i+1]))/(xu[i+1]-xl[i+1])
        xri = xl[i+1] - f(xl[i+1])/m
        xr.append(xri)
        ea.append(abs((xr[i+1]-xr[i])/xr[i+1])*100)
        i+=1
    if modo_salida == 1:
        return {"xL": xl, "xr": xr, "xu": xu, "error": ea}
    elif modo_salida == 2:
        return {"solucion": xr[-1], "iteraciones": i}
    elif modo_salida == 3:
        return {"solucion": xr[-1]}
    else:
        raise ValueError("modo_salida debe ser 1, 2 o 3.")
f = lambda x: x**3 - 2*x - 5

**Modo 1, falsa posición**

In [7]:
print("Resultado Modo 1\n")
resultado1 = falsa_posicion(1,4,f,max_iter=100, modo_salida=1)
pd.DataFrame(resultado1)

Resultado Modo 1

          xL        xr  xu       error
0   1.000000  1.315789   4  100.000000
1   1.315789  1.570788   4   16.233781
2   1.570788  1.758293   4   10.664077
3   1.758293  1.885990   4    6.770805
4   1.885990  1.968202   4    4.176998
5   1.968202  2.019158   4    2.523628
6   2.019158  2.049984   4    1.503718
7   2.049984  2.068355   4    0.888207
8   2.068355  2.079206   4    0.521852
9   2.079206  2.085580   4    0.305628
10  2.085580  2.089312   4    0.178656
11  2.089312  2.091494   4    0.104318
12  2.091494  2.092768   4    0.060872
13  2.092768  2.093511   4    0.035507

**Modo 2, falsa posición**

In [8]:
print("Resultado Modo 2\n")
resultado2 = falsa_posicion(1,4,f,max_iter=100, modo_salida=2)
print(f"Solución: {resultado2['solucion']:.4f}, Iteraciones: {resultado2['iteraciones']}")

Resultado Modo 2

Solución: 2.0935, Iteraciones: 13

**Modo 3, falsa posición**

In [9]:
print("Resultado Modo 3\n")
resultado3 = falsa_posicion(1,4,f,max_iter=100, modo_salida=3)
print(f"Solución: {resultado3['solucion']:.4f}")

Resultado Modo 3

Solución: 2.0935

**Método de Newton-Raphson**

In [10]:
from sympy import symbols, diff, lambdify
import pandas as pd

def NewtonR(x0, f,max_iter=100,modo_salida =  1, error=0.05):
    # Uso de sympy para derivadas.
    x = symbols('x')
    f_temp = eval(f)  # Convierte el string a expresión simbólica, temporal
    df_temp= diff(f_temp, x)  # Derivada simbólica, temporal
    # Convertimos para que sea compatible con numeros complejos.
    f = lambdify(x, f_temp, modules=['numpy'])
    df = lambdify(x, df_temp, modules=['numpy'])
    
    i, xr, ea = 0, [x0], [100]
    
    while ea[i] > error and i < max_iter:
        xr.append(xr[i] - f(xr[i]) / df(xr[i])) 
        ea.append(abs(xr[i+1] - xr[i]) / abs(xr[i+1]) * 100) # Módulo complejo
        i += 1
    # Modos de salida
    if modo_salida == 1:
        return {"xr": xr, "error (%)": ea}
    elif modo_salida == 2:
        return {"solucion": xr[-1], "iteraciones": i}
    elif modo_salida == 3:
        return {"solucion": xr[-1]}
    else:
        raise ValueError("modo_salida debe ser 1, 2 o 3.")
f = "x**3 - 1" # Esta función es un string porque hacerlo con lambda para este caso es más complicado, y a veces produce errores.

**Modo 1, Newton-Raphson**

In [11]:
x0 = 2  # Valor inicial real
print("Resultado Modo 1\n")
resultados = NewtonR(x0,f,100,1)
pd.DataFrame(resultados)

Resultado Modo 1

         xr   error (%)
0  2.000000  100.000000
1  1.416667   41.176471
2  1.110534   27.566211
3  1.010637    9.884624
4  1.000112    1.052404
5  1.000000    0.011154

**Modo 2, Newton-Raphson**

In [12]:
x0 = 2  # Valor inicial real
print("Resultado Modo 2\n")
resultados = NewtonR(x0,f,100,2)
print(f"Solución: {resultados['solucion']:.4f}, Iteraciones: {resultados['iteraciones']}")

Resultado Modo 2

Solución: 1.0000, Iteraciones: 5

**Modo 3, Newton-Raphson**

In [13]:
x0 = 2  # Valor inicial real
print("Resultado Modo 3\n")
resultados = NewtonR(x0,f,100,3)
print(f"Solución: {resultados['solucion']:.4f}")

Resultado Modo 3

Solución: 1.0000

**Modo 1, Newton-Raphson, Valor inicial complejo**

In [14]:
x0 = -0.5+1j  # Valor inicial complejo
resultados = NewtonR(x0,f,100,1)
pd.DataFrame(resultados)

                   xr   error (%)
0 -0.500000+1.000000j  100.000000
1 -0.493333+0.880000j   11.913077
2 -0.499767+0.866066j    1.534834
3 -0.500000+0.866025j    0.023695